*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body{
  min-height: 100vh;
  background-color: #f6f6f8;
}
.card{
  margin: 5% auto;
}
.card-title,.card-text{
  text-align: center;
}
